doctype 5
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="author", content="Farid Zakaria & Alex Hortin")
    meta(name="description", content="A simple site to download songs from HypeMachine")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="apple-touch-icon-precomposed",href="/images/apple-touch-icon-144x144-precomposed.png")
    link(rel="apple-touch-icon-precomposed",href="/images/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed",href="/images/apple-touch-icon-72x72-precomposed.png")
    link(rel="apple-touch-icon-precomposed",href="/images/apple-touch-icon-57x57-precomposed.png")

    block head-scripts
      script(src="/javascripts/vendor/modernizr-2.6.1-respond-1.1.0.min.js")
      //script(src='/javascripts/vendor/bootstrap-modal.js')
      //script(src='/javascripts/vendor/bootstrap-transition.js')
      script(src="/javascripts/vendor/jquery-1.8.2.min.js")
      script(src="/javascripts/vendor/bootstrap.min.js")
      script(src="/javascripts/main.js")


  body
    #wrap
      //http://twitter.github.com/bootstrap/examples/marketing-narrow.html
      .container-narrow
        .masthead
          ul.nav.nav-pills.pull-right
            - var obj = { 'home': 'Home', 'about': 'About', 'login': 'Login' }
              - each val, key in obj
                - if (id == key)
                  li.active
                     a(href='#{key}') #{val}
                - else
                  li
                    a(href='#{key}') #{val}
          h3.muted MetaSongDownloader
        hr

        
        //- .jumbotron
        //-   h1 Super Banner
        //-   p.lead This is the inside text box. We can use this for a lot of different banner adds!
        //-   a.btn.btn-large.btn-success(href="#") Sign up Today
        //- hr


        .row-fluid.marketing-narrow


          block search
            .span12
                .row
                  .span2
                  .span8
                    h2= title
                    form#song-search.form-search(action="get", action="search")
                      .input-append
                        input(name="query", type="text", class="input-xlarge search-query", placeholder="Search")
                        button.btn(type="submit") Search
                    hr

          block content
            p You should never see this


      #push

    #footer
      .container-narrow
        p.muted.credit Inspired by 
          a(href="http://fzakaria.com") Farid Zakaria 
          | and 
          a(href="http://github.com/hortinstein") Alex Hortin 

    







