doctype 5
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="author", content="Farid Zakaria & Alex Hortin")
    meta(name="description", content="A meta site that allows you to download music from popular music blog aggregators.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="apple-touch-icon-precomposed",href="/images/apple-touch-icon-144x144-precomposed.png")
    link(rel="apple-touch-icon-precomposed",href="/images/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed",href="/images/apple-touch-icon-72x72-precomposed.png")
    link(rel="apple-touch-icon-precomposed",href="/images/apple-touch-icon-57x57-precomposed.png")

    block head-scripts
      script(src="/javascripts/vendor/modernizr-2.6.1-respond-1.1.0.min.js")
      script(src="/javascripts/vendor/jquery-1.8.2.min.js")
      script(src="/javascripts/vendor/bootstrap.min.js")
      script(src="/javascripts/main.js")
      


  body
    #wrap
      //http://twitter.github.com/bootstrap/examples/marketing-narrow.html
      .container-narrow
        .masthead
          block navigation
            ul.nav.nav-pills.pull-right
              - var obj = { 'home': 'Home', 'about': 'About' }
              - if (user)
                - obj['account'] = user.hypem_username
                - obj['logout'] = 'Logout'
              - else
                - obj['login'] = 'Login'

              - each val, key in obj
                - if (id == key)
                  li.active
                     a(href='/#{key}') #{val}
                - else
                  li
                    a(href='/#{key}') #{val}

          block title
            h3.muted
              a.muted(href='/', style="text-decoration:none;") metahypem

        
        //- .jumbotron
        //-   h1 Super Banner
        //-   p.lead This is the inside text box. We can use this for a lot of different banner adds!
        //-   a.btn.btn-large.btn-success(href="#") Sign up Today
        //- hr
        
        .row-fluid
          .span12

            - var error_list = flash("error")
            - for error_msg in error_list
                .alert.alert-error.fade-in
                  button.close(type="button", data-dismiss="alert") x
                  p
                    strong Error 
                    | #{error_msg}

            - var info_list = flash("info")
            - for info_msg in info_list
                .alert.alert-info.fade-in
                  button.close(type="button", data-dismiss="alert") x
                  p #{info_msg}

            - var success_list = flash("success")
            - for success_msg in success_list
                .alert.alert-success.fade-in
                  button.close(type="button", data-dismiss="alert") x
                  p
                    strong Success 
                    | #{success_msg}

          
            block heading
              hr
                
            block content
              p You should never see this


      #push

    #footer
      .container-narrow
        p.muted.credit Inspired by 
          a(href="http://fzakaria.com") Farid Zakaria 
          | and 
          a(href="http://github.com/hortinstein") Alex Hortin 

    







