extends base
  
block heading
  - var tabs = { 'popular' : 'Popular', 'latest' : 'Latest', 'search' : 'Search' }
  ul.nav.nav-tabs
    - each val, key in tabs
      - if (tab == key)
        li.active
          a(href-'/#{key}') #{val}
      - else 
        li
          a(href='/#{key}') #{val}

block content
  - if (songs.length > 0 )
    .row-fluid
      .span12
        .accordion#song-accordion
          each song, i in songs
            .accordion-group
              .accordion-heading(style="background-color: #f9f9f9;")
                .row-fluid
                  .span6.accordion-toggle
                    a(data-toggle="collapse", data-target="##{song.id}")=song.title
                  .span5.heading-element
                    p=song.artist
                  .span1.heading-button
                    a.btn.pull-right(rel="tooltip",title="Download!",data-placement="top", data-delay=500, href="/download/#{song.id}")
                      i.icon-download-alt
              .accordion-body.collapse(id=song.id)
                .accordion-inner
                  p
                    b Title: 
                    | #{song.title}
                  p 
                    b Artist:  
                    | #{song.artist}
                  p 
                    b Length: 
                    | #{song.humanize_time}

    script
      $(function(){
        $("[rel=tooltip]").tooltip();
      })

    - if (songs.length > 0 )
      .row-fluid
        .span12
            ul.pager
              - var next_page = page + 1
              - var prev_page = page - 1
              - if (page == 1)
                li.previous.disabled
                  a(href="#") &larr; Previous Page
              - else
                li.previous
                  a(href="/#{tab}/#{prev_page}") &larr; Older

              //if we have 20 songs then there is most likely another page to scrape!
              - if (songs.length == 20)
                li.next
                  a(href="/#{tab}/#{next_page}") Next Page &rarr;
              - else
                litwit.next.disabled
                  a(href="/#{tab}/#{next_page}") Next Page &rarr;


