extends ../base

block content
  .row-fluid
    .span12
      p Welcome #{user.hypem_username}
      - if (songs.length > 0 )
        table.table.table-striped
          thead
            tr 
              th #
              th Title
              th Artist
              th Download
          tbody
            each song, i in songs
              - var song_num = ( (page-1) * 20) + i
              tr
                td #{song_num}
                td #{song.title}
                td #{song.artist}
                td 
                  a.btn(href="download/#{song.id}")
                    i.icon-download-alt

  .row-fluid
    .span12
      - if (songs.length > 0 )
          ul.pager
            - var next_page = page + 1
            - var prev_page = page - 1
            - if (page == 1)
              li.previous.disabled
                a(href="#") &larr; Previous Page
            - else
              li.previous
                a(href="/account/#{prev_page}") &larr; Older

            //if we have 20 songs then there is most likely another page to scrape!
            - if (songs.length == 20)
              li.next
                a(href="/account/#{next_page}") Next Page &rarr;
            - else
              li.next.disabled
                a(href="/account/#{next_page}") Next Page &rarr;